.container {
   width: 100%;
   padding: 70px 0 30px;
   overflow: hidden;
   margin: 0 auto;
}

.paging {
   width: 16px;
   height: 16px;
   border: 2px solid var(--primary-white);
   border-radius: 50%;
}

.content_wrapper {
   display: flex !important;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 2rem;
}

.content_wrapper > img {
   border-radius: 50%;
   max-width: 100%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.content_details {
   width: 100%;
   max-width: 600px;
   text-align: center;
}

.content_details > h3 {
   margin: 20px 0 0 10px;
   font-size: 1.55rem;
   line-height: 2.75rem;
   font-weight: 600;
}

.content_details > p {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0.5px;
   opacity: 0.7;
}

@media only screen and (max-width: 520px) {
   .content_details > h3 {
      font-size: 1rem;
   }

   .content_details > p {
      font-size: 12px;
   }
}
