.navbar {
   position: relative;
   z-index: 1;
   width: 100%;
   height: 200px;
   padding: 2rem 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo_container img {
   margin: 0 30px;
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: var(--transition-ease);
}

.menu-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.logo_container {
   flex: 1;
}

.menu-container ul {
   flex: 1;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   padding: 0px;
   gap: 30px;
   font-size: 1rem;
   color: var(--secondary-indigo);
   font-weight: 500;
}

.menu-container ul li {
   position: relative;
   letter-spacing: 1px;
   cursor: pointer;
   font-weight: 400;
}

.menu-container ul li:after {
   content: "";
   position: absolute;
   display: block;
   height: 2px;
   background: #3730a3;
   left: 50%;
   margin-bottom: 10px;
   width: 0;
   transition: all 0.2s ease-in-out;
}

.menu-container ul li:hover:after {
   width: 100%;
   left: 0;
}

.menu_btn {
   display: none;
}

@media only screen and (max-width: 900px) {
   .navbar {
      padding: 2rem 1rem;
   }

   .logo_container img {
      margin: 0;
   }
}

@media only screen and (max-width: 590px) {
   .menu-container ul {
      display: none;
   }

   .menu_btn {
      display: block;
      all: unset;
      width: 30px;
      height: 30px;
   }

   .mobile_menu {
      height: 100%;
      margin-top: 30px;
   }

   .mobile_menu ul {
      height: 100%;
      display: grid;
      grid-auto-rows: 60px;
      grid-auto-flow: row;
   }

   .mobile_menu ul li {
      border-top: 0.5px solid #333;
      display: grid;
      place-items: center;
      font-size: 1rem;
      font-weight: 400;
      transition: var(--transition-ease);
   }

   .mobile_menu ul li:last-child {
      border-bottom: 0.5px solid #333;
   }

   .mobile_menu ul li:hover {
      color: var(--secondary-indigo);
   }

   .mobile_menu ul li:active {
      letter-spacing: 3px;
   }
}
