:root {
   --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
      "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
   --primary-white: hsl(0, 0%, 100%);
   --secondary-indigo: hsl(242, 47%, 34%);
   --transition-ease: all 400ms ease-in-out;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* @dev css reset boilerplate */

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
   font-family: var(--font-mono);
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px #0a1929 inset !important;
   -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
}

.ant-modal .ant-modal-content,
.ant-modal .ant-modal-header {
   background-color: hsl(0, 0%, 0%) !important;
   color: var(--primary-white) !important;
}

.ant-modal .ant-modal-title,
.ant-modal .ant-modal-close {
   color: var(--primary-white) !important;
}

.ant-modal .ant-modal-close:focus-visible {
   outline: 0 !important;
   outline-offset: 0 !important;
}

.media-upload-section .ant-upload-select {
   display: inline-grid;
   place-items: center;
   background-color: transparent;
   border: 1px dashed rgba(255, 255, 255, 0.5);
   border-radius: 10px;
   transition: 0.3s all ease;
   width: 400px;
   height: 156px;
   margin: 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}

.media-upload-section .ant-upload-list-picture {
   margin-top: 20px;
}

.media-upload-section .anticon-delete {
   color: #e11d48 !important;
   font-size: 1rem;
}

.media-upload-section .ant-upload-list-item-name {
   color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 420px) {
   .media-upload-section .ant-upload-select,
   .media-upload-section .ant-upload-list-picture {
      width: 300px;
   }
}
